.cl-bodyy{
 
    display: grid;
  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.cl-body{
    margin: 20px;
   
}
.cl-body h2{
    margin-left: 20px;
}
.cl-name{
   margin-left: 20px;
}
.cl-tex{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
    
}
.cl-img img {
    width: 70px;
}
.cl-tex div h4{
    margin-top: 5px;
   font-size: 22px;
   font-weight: 400;
}
.cl-tex div p{
   font-size: 14px;
   

}
.progress2 {
    
  border-radius: 30px;
  background: #E2FBD7;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
 width: 47px;
 height: 8px;
  }
  
  .progress-bar2 {
    height: 8px;
    border-radius: 30px;
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }
  
  .progress-moved .progress-bar2 {
    width: 55%; 
    background: #34B53A;
    animation: progressAnimation 6s;
  }
  
  @keyframes progressAnimation {
    0%   { width: 5%; background-color: #E2FBD7;}
    100% { width: 85%; background: #34B53A;    }
  }
  .bat-tes{
    width: 407px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
  .bar-r{
    color: #000000;
  }
  .bar-l{
    color: #34B53A;
  }


.cl-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


  .label{
    display: none;
  }
  .containerr{
    height: 10px;
    width: 10%;
    background: #000000;
    border-radius: 6px;
    margin-top: 5px;
     
   }
   .barCompleted{
    background: #34B53A;
     width: 55%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 1s;
     opacity: 0;
   }
 
   .barCompleted2{
    background: #34B53A;;
     width: 40%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 1s;
     opacity: 0;
   }
   .barCompleted3{
    background: #34B53A;
     width: 30%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
   .barCompleted4{
     background-color: #246CF9;
     width: 75%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
   .barCompleted5{
     background-color: #30E0A1;
     width: 60%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
   .barCompleted15{
     background-color: #00be30;
     width: 60%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
   .barCompleted6{
     background-color: #30E0A1;
     width: 45%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
   .barCompleted16{
     background-color: #00b82e;
     width: 60%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
 
 
   .barCompleted7{
     background-color: #FFB545;
     width: 30%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
   .barCompleted8{
     background-color: #FA2256;
     width: 20%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
   .barCompleted9{
     background-color: #246CF9;
     width: 55%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
   }
   .barCompleted10{
     background-color: #30E0A1;
     width: 10%;
     position: relative;
     display: block;
     height: 100%;
     border-radius: 6px;
     animation: progres 1.0s ease-in-out forwards;
     animation-delay: 0.2s;
     opacity: 0;
    
   }
 
   @keyframes animate {
     0%
     {
       background-position: 0 0;
     }
     0%
     {
       background-position: 10% 0;
     }
   }
 
   @keyframes progres {
     0%{
         width: 0;
         opacity: 1;
     }
     100%{
         opacity: 1;
     }
   }


   /* for 24 inch */
@media screen and (max-width : 1920px) {
    
}

/* for 22 inch */
@media screen and (max-width : 1680px) {
  .cl-name{
   width: 10%;
}
    /* for 20 inch */
    @media screen and (min-height : 1200px) {

    }
}

/* for 15 inch */
@media screen and (max-width : 1366px) {
    
}

/* for 13 inch */
@media screen and (max-width : 1280px) {

    /* for 19 inch */
    @media screen and (min-height: 1024px) {

    }
}
@media  screen and (max-width:1250px) {
  .cl-bodyy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cl-name{
  display: flex; 
  margin-top: 25px;
  margin-left: 0px;
}
}

/* for 17 inch */
@media screen and (max-width : 970px) {

}

/* for all tab inch */
@media  screen and (max-width:884px) {

}

/* for all mobile inch */
@media  screen and (max-width:750px) {
    
}