.home{
    display: flex;
 
}
.home-side{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.home-r{
 flex: 1;

}
.home-l{
    flex: 4;
}

/* for 24 inch */
@media screen and (max-width : 1920px) {
    
}

/* for 22 inch */
@media screen and (max-width : 1680px) {
   
    /* for 20 inch */
    @media screen and (min-height : 1200px) {

    }
}

/* for 15 inch */
@media screen and (max-width : 1366px) {
    
}

/* for 13 inch */
@media screen and (max-width : 1280px) {

    /* for 19 inch */
    @media screen and (min-height: 1024px) {

    }
}

@media  screen and (max-width:1250px) {
    .home-r{
        display: none;
       }
    
  }

/* for 17 inch */
@media screen and (max-width : 970px) {

}

/* for all tab inch */
@media  screen and (max-width:884px) {
    
}

/* for all mobile inch */
@media  screen and (max-width:750px) {
    
}